body {
    background-color: #fff;
    color: #000;
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  .logo img {
    height: 30px;
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #000;
    margin-bottom: 5px;
  }
  .first-section {
    margin-top: 40px;
  }
  
  section {
    padding: 20px;
  }
  
  .section-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 20px;
  }
  
  .cta-button {
    display: inline-block;
    background-color: purple;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  .card-button {
    display: inline-block;
    background-color: #fff;
    color: purple;
    border: 1px solid purple;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .card-container {
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
  }
  
  .card {
    background-color: #f0f0f0;
    /* width: 200px; */
    min-width: 200px;
    /* height: 300px; */
    margin-right: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .offer-sec {
    position: relative;
  }

  .scroll-button {
    position: absolute;
    align-self: center;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(28, 71, 114, 0.619);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
  }
  
  .scroll-button i {
    font-size: 24px;
  }

  /* ##### */

  .objectives {
    background: rgba(242, 250, 255, 1);

  }
  
  /* ###### */
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .team-member img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .team-member-subtitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .partners {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .partners img {
    height: 50px;
    width: 50px;
  }

  /* complex */
  .card-wrapper {
    overflow-x: scroll;
    margin-top: 20px;
  }
  
  .card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card2 {
    background-color: #f0f0f0;
    width: 200px;
    height: 250px;
    margin-bottom: 20px;
    padding: 20px;
    flex-grow: 1;
  }
  
  .card2:nth-child(2n) {
    margin-left: 50px;
  }
  
  .card2:nth-child(3n) {
    margin-left: 0;
    margin-right: 50px;
  }
  
  .card2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .card2 h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card2 p {
    font-size: 16px;
    margin-bottom: 0;
  }
  /* complex end */
  
  .article {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .article img {
    height: 100px;
    width: 100px;
    border-radius: 10%;
    margin-right: 10px;
  }
  
  .article-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  
  .article-content p {
    margin-bottom: 10px;
  }
  
  .round-btn {
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
  }
  

/* DESKTOP############################################### */
/* Media query for desktop screens */
@media (min-width: 768px) {
    .desktop-img {
      text-align: right;
    }
    
    .desktop-img img {
      max-width: 100%;
      height: auto;
    }

    .first-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .first-section .content {
        align-self: center;
    }
    .first-section h2 {
        grid-column: -1/1;
    }

    /* .card-container {
        margin-right: -30px;
      } */
    
      .scroll-button {
        display: block;
      }

      .objectives .section-title, .parents .section-title, .partners-sec .section-title  {
        text-align: center;
      }

      .wrap1{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .partners {
        display: flex;
        justify-content: space-around;
      }

      

  }

  